name: Build Stacer Application

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build App
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, ubuntu-22.04, ubuntu-22.04-arm]
        include:
          - os: ubuntu-24.04
            codename: noble
            # qt_version: 6.4.2
            # qt_arch: gcc_64
          - os: ubuntu-24.04-arm
            codename: noble-arm
            # qt_version: 6.7.0
            # qt_arch: linux_gcc_arm64
          - os: ubuntu-22.04
            codename: jammy
            # qt_version: 6.2.4
            # qt_arch: gcc_64
          - os: ubuntu-22.04-arm
            codename: jammy-arm
            # qt_version: 6.7.0
            # qt_arch: linux_gcc_arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Update package repositories
        run: sudo apt-get update

      # - name: Install Qt
      #   uses: jurplel/install-qt-action@v4
      #   with:
      #     version: ${{ matrix.qt_version }}
      #     target: desktop
      #     arch: ${{ matrix.qt_arch }}
      #     modules: qtcharts

      - name: Install libraries
        run: |
          sudo apt-get install -y qt6-base-dev qt6-tools-dev qt6-tools-dev-tools qt6-l10n-tools libqt6opengl6-dev libqt6charts6-dev libqt6svg6-dev qt6-wayland-dev libglx-dev libgl1-mesa-dev libxkbcommon-dev libvulkan-dev
          sudo apt-get install -y libfuse2

      - name: Install build tools
        run: |
          sudo apt-get install -y cmake dh-make devscripts build-essential lintian

      - name: Build and make release
        run: |
          bash ${{ github.workspace }}/release.sh

      - name: Upload workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: stacer-${{ matrix.codename }}
          path: |
            ${{ github.workspace }}/release/stacer_*.deb
            ${{ github.workspace }}/release/stacer-*.rpm
            ${{ github.workspace }}/release/Stacer-*.AppImage

      - name: Update debian files
        run: |
          sed -i "s/^Architecture:\s\+.*$/Architecture: any/g" ${{ github.workspace }}/debian/control

      - name: Get changelog
        id: changelog
        run: |
          CHANGELOG=$(awk '/^stacer \(/ {if (NR!=1) exit} /^[ ]*\*/ {print}' debian/changelog)
          echo "changelog=$CHANGELOG" >> $GITHUB_OUTPUT

      - name: Publish release
        uses: softprops/action-gh-release@v2
        if: github.event_name != 'workflow_dispatch' && matrix.codename == 'jammy'
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body: |
            Fix and features:

            {{ steps.changelog.outputs.changelog }}

            NOTE: I'm now publishing GitHub Actions builds in every release, all previous self compiled binaries are now removed. deb, rpm and AppImage files are from the oldest supported Ubuntu version (currently jammy).

            **Full Changelog**: https://github.com/QuentiumYT/Stacer/compare/main...${{ github.ref_name }}
          files: |
            ${{ github.workspace }}/release/stacer_*.deb
            ${{ github.workspace }}/release/stacer-*.rpm
            ${{ github.workspace }}/release/Stacer-*.AppImage

      - name: Publish PPA package
        uses: yuezk/publish-ppa-package@main
        if: github.event_name != 'workflow_dispatch' && matrix.codename == 'jammy'
        with:
          tarball: ${{ github.workspace }}/release/stacer-*.tar.gz
          debian_dir: ${{ github.workspace }}/debian/
          repository: "quentiumyt/stacer"
          deb_email: "pro@quentium.fr"
          deb_fullname: "Quentin Lienhardt"
          gpg_private_key: ${{ secrets.PPA_GPG_PRIVATE_KEY }}
          gpg_passphrase: ${{ secrets.PPA_GPG_PASSPHRASE }}
          series: "noble jammy"
          new_version_template: "{VERSION}-{REVISION}+{SERIES}"
          keep_changelog: true
